body{
    font-family: "Quicksand","Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position:absolute;
    top:35px;
    left:10px;
}

h2{
    font-family:"Work Sans";
    font-weight:600;
}

#head1{
    position:absolute;
    top:1px;
}

p{
    font-family:"Quicksand";
    font-weight:500;
}

.footer{
    font-family:"Work Sans";
    font-weight:800;
}

#resume{
    font-family:"Work Sans";
    font-weight:600 ;
    position:absolute;
    top: -17px;
    left:20px;
}

img#experience{
    margin-top:-5px;
    margin-left:5px;
    width: 50px;
    height:50px;
}

img#education{
    margin-top:10px;
    width: 60px;
    height: 70px;
}

#boxc1,#boxc2,#boxc3{
    width:370px;
    height:150px;
    position:absolute;
    border-radius: 10px;
    padding:15px 0px 2px 10px
}

#boxc1{
    left:30px;
    top:150px;
    background:rgba(255, 0, 47,0.2);
}

#boxc2{
    left:445px;
    top:150px;
    background:rgba(0, 255, 157,0.2);
}
 

#boxc3{
    left:235px;
    top:425px;
    background:rgba(0, 106, 255,0.2);
}

.footer{
    width:500px;
    position:absolute;
    margin-top: 180px;
    margin-bottom: 10px;
    margin-left:195px;
}

.footer480{
    display:none;
}

#bline{
    position:absolute;
    height:3px;
    width:200px;
    background:blue;
    border-radius:2px;
    top:25px;
    left:155px;
}

#head2{
    position:absolute;
    top:350px;
    left:30px;   
}

#head1{
    position:absolute;
    top:30px;
    left:30px;
}

img#school,img#college,img#intern{
    height:60px;
}

img#school{
    width:60px;
}

img#college{
    width:80px;
}

img#intern{
    height:50px;
    width:100px;
}

#h1{
    margin-top:82px;
    margin-left:95px;
}

#h2{
    margin-top:268px;
    margin-left:90px;
}

@media only screen and (max-width: 480px) { 
    .footer{
        display:none;
    }

    #head1{
        margin-left:50px;
    }

    #head2{
        margin-top:230px;
    }

    #h1{
        margin-left:142px;
        margin-top:83px;
    }

    #h2{
        margin-left:35px;
        margin-top:477px;
        text-align: center;
    }

    #boxc1{
        margin-top:20px;
        margin-left:-30px;
        width:354px;
    }

    #boxc2{
        margin-top:220px;
        margin-left:-445px;
        width:354px;
    }

    #boxc3{
        margin-top:240px;
        margin-left:-235px;
        width:354px;
    }

    .footer480{
        display:block;
        margin-top:250px;
        margin-left:-20px;
        text-align: center;
       
    }

}